#number-guess,
#result,
#history {
  max-width: 400px;
  margin: 0 auto;
}
body {
  font-family: sans-serif;
}
#history {
  margin-top: 16px;
}

.banner {
  color: #ffd23f;
  font-size: 90px;
}
.success {
  color: #3fff89;
  font-size: 60px;
}
